
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.container-pdf-info{

  margin-top: 8rem;
 
}





.infoh5{
  color: #ad5389;
  font-family: "Varela Round", sans-serif !important;
}
.btn-ticket {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 20em;
  font-family: "Varela Round", sans-serif !important;
 }
 
 .btn-ticket svg {
  margin-right: 8px;
 }
 
 .btn-ticket:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
 }
 
 .btn-ticket:active {
  box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
 }
 .info-h1{
   text-align: center;
   color: #ef2b43;
   margin: 20px;
   text-shadow: #4747476c 1px 2px 2px;
 }
 .info-h2{
  text-align: center;
  color: #f5fcff;
  margin: 20px;
  text-shadow: #4747476c 1px 2px 2px;
}